<script>
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent, max } from "d3-array";
  
    export let data = [];
  
    const dates = data.map((entry) => new Date(2014, 11, entry.day, entry.hour));
    const heating = data.map((entry) => entry.total_gas);
    const cooling = data.map((entry) => entry.total_electrity);
    const leafWidth = data.length;
    const leafHeight = 100;
  
    const scale_x_axis = scaleTime()
        .domain(extent(dates))
        .range([0, leafWidth]);
  
    const range_scaling_cooling = scaleLinear()
      .domain([0, max(cooling)])
      .range([leafHeight / 2, 0]);
  
    const range_scaling_heating = scaleLinear()
      .domain([0, max(heating)])
      .range([leafHeight / 2, leafHeight]);
  
    const cooling_area = area()
      .x((entry) => scale_x_axis(new Date(2014, 11, entry.day, entry.hour)))
      .y0(range_scaling_cooling(0))
      .y1((entry) => range_scaling_cooling(entry.total_electrity));
  
    const heating_area = area()
      .x((entry) => scale_x_axis(new Date(2014, 11, entry.day, entry.hour)))
      .y0(range_scaling_heating(0))
      .y1((entry) => range_scaling_heating(entry.total_gas));
  </script>
  
  <svg>
    <path d={cooling_area(data)} fill="blue" />
    <path d={heating_area(data)} fill="darkorange" />
    <line x1="0" y1={leafHeight / 2} x2={leafWidth} y2={leafHeight / 2} style="stroke:black"/>
  </svg>
  