<script>
    import { radialArea } from 'd3-shape';
    import { scaleLinear, scaleRadial } from 'd3-scale';
    import { extent } from 'd3-array';

    export let data = null;
    export let city;

    data = data.filter(d => d.city == city);

    const scale_time = scaleLinear()
                .domain(extent(data.map(d => d.day_of_year)))
                .range([0, 2 * Math.PI]);
                
    const range_scale_heating = scaleRadial()
                .domain(extent(data.map(d => d.heating)))
                .range([0,60]);

    const range_scale_cooling = scaleRadial()
                .domain(extent(data.map(d => d.cooling)))
                .range([0,60]);

    const heating_area = radialArea()
                .angle(d => scale_time(d.day_of_year))
                .innerRadius(0)
                .outerRadius(d => range_scale_heating(d.heating));
    const cooling_area = radialArea()
                .angle(d => scale_time(d.day_of_year))
                .innerRadius(0)
                .outerRadius(d => range_scale_cooling(d.cooling));
</script>

<path class='heating' d={heating_area(data)} />
<path class='cooling' d={cooling_area(data)} />

<style>
    .heating{
        fill: OrangeRed;
        opacity: 0.7;
    }
    .cooling{
        fill:blue;
        opacity: 0.5;
    }
</style>
