<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import LeafData from "./_design_3_leaf.svelte";

  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const leaf_origin = innerWidth / 2;

  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

</script>

{#if !data}
  <p>Loading data</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <g transform="translate({leaf_origin},365) skewY(-20)">
        <LeafData data={data.filter((entry) => entry.week == 48)} />
      </g>
      <g transform="translate({leaf_origin},290) scale(-1,1) skewY(-20)">
        <LeafData data={data.filter((entry) => entry.week == 49)} />
      </g>
      <g transform="translate({leaf_origin},215) skewY(-20)">
        <LeafData data={data.filter((entry) => entry.week == 50)} />
      </g>
      <g transform="translate({leaf_origin},140) scale(-1,1) skewY(-20)">
        <LeafData data={data.filter((entry) => entry.week == 51)} />
      </g>
      <g transform="translate({leaf_origin},65) skewY(-20)">
        <LeafData data={data.filter((entry) => entry.week == 52)} />
      </g>

      <line x1={width / 2 - margin.left} x2={width / 2 - margin.left} y1="90" y2={height - 125} style="stroke:black;stroke-width:2"/>
      <text transform="translate({innerWidth / 2 - 130}, {innerHeight - 50})" class="city">Baltimore</text>
      <text transform="translate({innerWidth / 2 - 90}, {innerHeight - 25})" class="date">(December 2014)</text>
    </g>
  </svg>
{/if}

<style>
  .city {
    font: bold 50px serif;
  }
  .date {
    font: bold 25px serif;
  }
</style>
