<script>
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent, max } from "d3-array";

    export let dataset = [];
    export let scaling = 1;
    export let type = null;
      
    function selectData(type, datafile) {
        return datafile.filter(d => d.buildingtype == type)
    }
    let data = selectData(type, dataset);
    $: data = selectData(type, dataset);

    
    let dates = data.map(d => new Date(2014, 11, d.day, d.hour));

    const scale_x_axis= scaleTime()
        .domain(extent(dataset.map(d => new Date(2014, 11, d.day, d.hour))))
        .range([0, 400]);

    const range_scaling_each = scaleLinear()
        .domain(extent(dataset.map(d => d.total_heating_energy)))
        .range([0.5, 9]);

    const range_scaling_all = scaleLinear()
        .domain(extent(data.map(d => d.total_heating_energy)))
        .range([0.5, 9]);

    const scaling_each = area()
            .x(d=>scale_x_axis(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-range_scaling_each(d.total_heating_energy))
            .y1(d=>range_scaling_each(d.total_heating_energy))

    const scaling_all = area()
            .x(d=>scale_x_axis(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-range_scaling_all(d.total_heating_energy))
            .y1(d=>range_scaling_all(d.total_heating_energy))

</script>

<g height="300">
    <g transform="translate(300)" >
        <text>{type}</text>
    </g>
    <g transform="translate(-120)">
        {#if scaling == 1}
            <path d={scaling_each(data)} fill="black"></path>
        {:else}
            <path d={scaling_all(data)} fill="black"></path>
        {/if}
    </g>
</g>
