<script>
  import { json } from 'd3-fetch';
  import { onMount } from 'svelte';
  import Plot from './_design_2_plot.svelte';

  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  const cities = ['Chicago', 'Baltimore', 'Los Angeles'];

  let datapoints = null;
  onMount(async () => {
      datapoints = await json('/data/daily_heating_cooling.json');
    });

</script>

{#if !datapoints}
  <p>Loading, please be patient</p>
{:else}
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each cities as c, i}
    <g transform='translate({innerWidth*i/3 + margin.left}, 0)'>
     <circle cx={innerWidth/3- 100} cy={innerHeight/2} r=70 fill=none stroke='black' />
     <line x1={innerWidth/3-170} y1={innerHeight/2} x2={innerWidth/3-30} y2={innerHeight/2} stroke='black'/>
     <line x1={innerWidth/3-100} y1={innerHeight/3+108} x2={innerWidth/3-100} y2={innerHeight/3-32} stroke='black'/>
     <text x={innerWidth/3-105} y={innerHeight/3-35}>0</text>
     <text x={innerWidth/3-105} y={innerHeight/3+122}>6</text>

     <text x={innerWidth/3-25} y={innerHeight/2+5}>3</text>
     <text x={innerWidth/3-185} y={innerHeight/2+5}>9</text>
     <g transform='translate({innerWidth/3-100},{innerHeight/2} )'>
      <Plot data={datapoints} city={c}/>
     </g>
     <text transform='translate(50, 20)' class=cityname>{c}</text>
    </g>
    {/each}
  </g>
  <text transform='translate(1,{margin.top*2})' class='heating'>Heating</text>
  <text transform='translate(1,{margin.top*4})'class='cooling'>Cooling</text>
</svg>
{/if}

<style>
  .heating{
    fill:OrangeRed;
  }
  .cooling{
    fill: blue;
  }
  .cityname{
    font: 20px serif;
  }
</style>
