<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Plot from "./design_1_line.svelte";

  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };

  let datapoints = [];
  let buildingTypes = [];
  let city_default_selection = "Baltimore";
  let type_default_selection = 0;
  let city_selection = null;

  let cities = ["Baltimore", "Chicago", "Los Angeles"];

  onMount(async () => {
        let response = await json("/data/hourly_heating_december.json")
        .then(response => datapoints = response)
        .then(data =>
        buildingTypes = [...new Set(data.map(d =>  d.buildingtype))])
  });


  function citySelect(dataset, city) {
    if (!(dataset == null)) {
      return dataset.filter(d => d.city == city);
    }
  }
  $: city_selection = citySelect(datapoints, city_default_selection); 

</script>


<div transform="translate(10,200)">
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
        {#each buildingTypes as type, i}
              <g transform="translate(125,{10+(i*14.5)})">
                  <Plot dataset={city_selection} scaling={type_default_selection} type={type}/>
              </g>
            {/each} 
      </g>
      <text x=10 y=12 class="small"> December 1st </text>
      <text x=340 y=12 class="small"> December 31st </text>
    </svg>

  <div class="row">    
    <div class="col">
      <h6>Location:</h6>
        {#each cities as selectable_city}
            <label>
                <input type=radio name="location" bind:group={city_default_selection} value={selectable_city}>
                {selectable_city}
            </label>
            <br/>
        {/each}
    </div>
    <div class="col">
      <h6>Scaling:</h6>
      <label>
          <input type=radio name="scaling" bind:group={type_default_selection} value={1}>
          Each Building
      </label>
      <br/>
      <label>
          <input type=radio name="scaling" bind:group={type_default_selection} value={0}>
          All Building 
      </label>
    </div>
  </div>
</div>
