<!-- <script>
  let current = "";
</script>


<style>
 button.background {
    background-color: pink;
  }
  </style>


We will cover buttons in week 7! -->
<!-- <button class="btn btn-secondary" on:click={() => (current = "messi")} class:background={current == "messi"}>
   Messi
	.btn-secondary {
		background-color: rgb(0, 255, 149);
	}
  
</style> -->


<!-- We will cover buttons in week 7! -->
<!-- <button class="btn btn-secondary" on:click={() => (current = "messi")}>
  <p class:btn-secondary={current="messi"} /> Messi -->


<!-- We will cover buttons in week 7! -->
<!-- <button class="btn btn-secondary" on:click={() => (current = "messi")} class:background={current == "messi"}>
   Messi
>>>>>>> c1909bf (Exercise13)

</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")} class:background={current == "ronaldo"}>
  Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")} class:background={current == "neymar"}>
  Neymar
</button> -->
