<style>
    p {
      color: steelblue;
      font-size: small;
      text-size-adjust: 64px;
    }
    mark.red {
    color:red;
    background: none;
    }
  </style>
<p>I <mark class = "red">really</mark> like data visualisation!</p>

