<script>
    const me = {name: "Josiah McMillan", hobby: "Bouldering",
     drink: "La Chouffe Blonde", timewaster: "Watching animals on YouTube"}
</script>

<div>
<p>My name is {me.name} and these are some of my favourite things:</p>
<ol>
    <li>{me.hobby}</li>
    <li>{me.drink}</li>
    <li>{me.timewaster}</li>
</ol>
</div>