<script>
  // Properties
  // export let present=[];
  const continents = ["europe", "asia", "americas", "africa"];
  export let continent;
  export let year;
  let button_txt = "Start"
  let stopped = true;  
  let anim_time;            
  
  $: button_txt = stopped == true ? 'Start' : 'Stop';

  function start(){

    if(stopped){
      anim_time = setInterval(() => {year += 1; 
        if(year==214){year=0}}, 25)
      stopped = false;
    }

    else{
      clearInterval(anim_time);
      stopped = true;
    }
  }

  function reset(){
    clearInterval(anim_time);
    stopped = true;
    year = 0;
  }

</script>

<div class="row">
  <div class="col">
    <button class="btn btn-primary" on:click="{start}">
      {button_txt}
    </button>

    <button class="btn btn-primary" on:click="{reset}">
      Reset
    </button>
  </div>

  <div class="col">
    <label for="year" class="form-label">Year: {year+1800}
      <input type="range" class="form-range" id="year" 
        min="0" max="214" step="1" bind:value={year}/>
    </label>
  </div>

  <div class="col">
    <select bind:value={continent}>
      <option value="all">all</option>
      {#each continents as continent}
      <option value={continent}>{continent}</option>
      {/each}
    </select>
  
  </div>
</div>

