<script>
    let click = 0;
</script>

<div>
<button class="btn btn-primary" on:click={() => (click = click+1)}>
    Clicked {click} times
</button>
<button class="btn btn-danger" on:click={() => (click = 0)}>
    Reset
</button>
</div>

