<script>
  import { onMount } from "svelte";



  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // Initial color and opacity of the circles
  let color = "darkred";
  let index = points.length;
  let light_interval;

  onMount( () => {
    light_interval = setInterval(()=> index-=1, 1000);
  });

  $: {
    if (index < 0) {clearInterval(light_interval)
      color="darkgreen"}
  }

</script>

<style>
  .on{opacity:1;}
  .off{opacity:0.3;}
</style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as point, i}
    <circle class:on="{i>=index}" class:off="{i<index}" r=10 cx={point} cy={innerHeight/2} style="fill:{color};"/>
    {/each}

  </g>
</svg>
