<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  $: year = 0;
  $: continent = "all";

  $: get_data=function(element){
  if(continent!="all"){return element[year].countries.filter(d=>d.continent==continent)}
  else{
    return element[year].countries
   }
};

  
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={get_data(data)} />
    <Controls {data} bind:year={year} bind:continent={continent}/>
  </div>
{/if}
