<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };

  let local_s1 = [];
  let local_s2 = [];
  let global_selected = [];

  $: {
    global_selected = local_s1.map((item1,index) => local_s2[index] && item1)
  }


</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
<Scatter {data} {...s1} bind:local_select = {local_s1} global_select = {global_selected} />
<Scatter {data} {...s2} bind:local_select = {local_s2} global_select = {global_selected}/>

{/if}
