<script>
  import { axisLeft, axisBottom } from 'd3-axis';
  import { scaleLinear, scaleLog, scaleOrdinal, scaleSqrt } from 'd3-scale';
  import { extent } from 'd3-array';
  import { select } from 'd3-selection';
  import { schemeDark2 } from 'd3-scale-chromatic';

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let data = null;

  // Remove unusable data
  let data1800 = data.filter(entry => entry.income !== null && entry.life_exp !== null);

  // Generate Axes
  const ScaleX = scaleLog()
    .base(10)
    .domain([300, 11000])
    .range([0, innerWidth]);

  const xAxis = axisBottom()
    .scale(ScaleX)
    .tickValues([500, 750, 1000, 2500, 5000, 10000])
    .tickFormat(x => `$${x}`);

  const ScaleY = scaleLinear()
    .domain([0, 70])
    .range([innerHeight, 0]);
    
  const yAxis = axisLeft(ScaleY)
  .ticks(8);

  const radius = scaleSqrt()
    .domain(extent(data, entry => entry.population))
    .range([4, 15]);

  const contColor = scaleOrdinal()
    .domain([...new Set(data.map(d => d.continent))])
    .range(schemeDark2);

  function addYAxis(element) {
    select(element)
      .append("g")
      .call(yAxis)
      .append("text")
      .style("fill", "currentcolor")
      .style("text-anchor", "middle")
      .style("font-size", "2em")
      .style("vertical-align", "bottom")
      .attr("transform", "rotate(-90)")
      .attr("x", - innerHeight / 2)
      .attr("y", - 32)
      .text("Life Expectancy");
    };

  function addXAxis(element) {
    select(element)
      .append("g")
      .attr("transform", `translate(0, ${innerHeight})`)
      .call(xAxis)
      .append("text")
      .style("fill", "currentcolor")
      .style("text-anchor", "middle")
      .style("font-size", "2em")
      .style("vertical-align", "bottom")
      .attr("x", width / 2 - margin.left)
      .attr("y", 37)
      .text("GDP per Capita");
  };

</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g use:addXAxis use:addYAxis transform="translate({margin.left}, {margin.top})">
    {#each data1800 as entry}
      <circle 
        class="circle" 
        cx={ScaleX(+entry.income)} 
        cy={ScaleY(+entry.life_exp)} 
        r={radius(+entry.population)} 
        fill={contColor(entry.continent)} 
      />
    {/each}
    <text class="label" x={innerWidth} y=270>1800</text>
    <text class="title" x={innerWidth / 2} y=0>Gapminder Scatterplot</text>
  </g>
</svg>

<style>
  .label {
    font-size: 3em;
    opacity: .6;
    text-anchor: end;
  }

  .title {
    font-size: 2.5em;
    text-anchor: middle;
  }

  .circle {
    opacity: .7;
  }
</style>
