<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const center_y = innerHeight/4 
  const center_x = innerWidth/4

</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <rect x={center_x} y={center_y} width=40 height=40 />
    <circle cx={innerWidth} cy={innerHeight} r=20/>

  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  circle{
    fill: skyblue
  }
  rect{
    fill: yellow
  }
</style>
