

<script>

  import { scaleBand, scaleLinear, scaleOrdinal } from 'd3-scale';
  import { select } from 'd3-selection';
  import {axisLeft, axisBottom} from 'd3-axis';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];


  const scaleX = scaleLinear().domain([0, data.length]).range([0, innerWidth]);
  const scaleY = scaleLinear().domain([0, 4]).range([innerHeight, 0]);
	const axisL = axisLeft(scaleY).ticks();
	const axisB = axisBottom(scaleX)
  .ticks(data.length)
  .tickFormat(function(d){return data[d]?.service;});

	let gAxisL, gAxisB;
	
	$: {
		select(gAxisL).call(axisL);
		select(gAxisB).call(axisB);
	};


</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!-- <line x1={scaleX(0)} y1={scaleY(0)} x2={scaleX(10)} y2={scaleY(0)} style ="stroke:rgb(0,0,0); stroke-width:3"/> -->
    <g transform="rotate(-90)" font-size="10" font-family="sans-serif" text-anchor="end">
      <text x="-120" y="-30" >Viewers (millions)</text>
    </g>


  </g>
  <g class="bars" transform="translate({margin.left})">
    {#each data as dp, index}
      <rect 
          height={innerHeight - scaleY(dp.viewers)} 
          y={scaleY(dp.viewers)}
          x={scaleX(index)} 
          width = {(innerWidth/data.length)}/>
    {/each}
  </g>
  
	<g bind:this={gAxisL} transform={`translate(55,${margin.top-5})`}></g>
	<g bind:this={gAxisB} transform={`translate(${(innerWidth/data.length + 20)},${height-margin.bottom -5})`}></g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  rect{
    fill: palevioletred;
  }
  svg {
		display: block;
		margin: 0 auto;
	}
</style>