<script>
    import { onMount } from 'svelte';
    import { json } from 'd3-fetch';
    import Scatterplot from './_ex_7_scatterplot.svelte';

    let data = null;    
    let ready;

    onMount(async () => {
        data = await json("/data/gapminder.json");
        data = data
            .filter(entry => entry.year == "1800")[0]
            .countries;
        ready=true;
    });

</script>

{#if ready}
    <Scatterplot data={data} />
{:else}
    <p>Loading, thank you for your patience...</p>
{/if}
